<div class="pageintro" tabIndex="0" #scroll>
  <h1>Commands for</h1>
  <svg aria-label="Bash" class="logo">
    <use xlink:href="assets/icons.svg#bash" />
  </svg>
</div>
<div class="table">
  <h2 tabIndex="0">Navigation</h2>
  <div class="row" *ngFor="let item of navigation">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table">
  <h2 tabIndex="0">File Operations</h2>
  <div class="row" *ngFor="let item of fileOperations">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table">
  <h2 tabIndex="0">Text Manipulation</h2>
  <div class="row" *ngFor="let item of textManipulation">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table">
  <h2 tabIndex="0">File Viewing</h2>
  <div class="row" *ngFor="let item of fileViewing">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table">
  <h2 tabIndex="0">System Information</h2>
  <div class="row" *ngFor="let item of systemInformation">
    <span class="key">{{ item.key }} </span>
    <span class="command">{{ item.command }}</span>
  </div>
</div>
<div class="table">
  <h2 tabIndex="0">Process Management</h2>
  <div class="row" *ngFor="let item of processManagement">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table">
  <h2 tabIndex="0">Networking</h2>
  <div class="row" *ngFor="let item of networking">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table">
  <h2 tabIndex="0">Permissions</h2>
  <div class="row" *ngFor="let item of permissions">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table">
  <h2 tabIndex="0">Compression And Archiving</h2>
  <div class="row" *ngFor="let item of compressionAndArchiving">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table">
  <h2 tabIndex="0">Shell Scripting</h2>
  <div class="row" *ngFor="let item of shellScripting">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<a href="https://www.gnu.org/software/bash/manual/bash.html" target="_blank" rel="noopener noreferrer"
  >Go to GNU's official page: Bash Reference Manual ↗</a
>
