<div class="pageintro" tabIndex="0" #scroll>
 <h1>
    Shortcuts for
 </h1>
 <svg class="logo">
   <use xlink:href="assets/icons.svg#windows" />
 </svg>
</div>
<div class="table">
    <h2 tabIndex="0">General</h2>
    <div class="row" *ngFor="let item of general">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Windows Logo</h2>
    <div class="row" *ngFor="let item of windowsLogo">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Command Prompt</h2>
    <div class="row" *ngFor="let item of commandPrompt">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Dialog Box</h2>
    <div class="row" *ngFor="let item of dialogBox">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">File Explorer</h2>
    <div class="row" *ngFor="let item of fileExplorer">
      <span class="key">{{ item.key }} </span>
      <span class="command">{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Virtual Desktops</h2>
    <div class="row" *ngFor="let item of virtualDesktops">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Taskbar</h2>
    <div class="row" *ngFor="let item of taskbar">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Settings</h2>
    <div class="row" *ngFor="let item of settings">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
