<div class="table">
    <h2 tabIndex="0" #scroll>Tab and Window</h2>
    <div class="row" *ngFor="let item of tabAndWindow">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Google Chrome Features</h2>
    <div class="row" *ngFor="let item of googleChromeFeatures">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Address Bar</h2>
    <div class="row" *ngFor="let item of addressBar">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Webpage</h2>
    <div class="row" *ngFor="let item of webpage">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Mouse</h2>
    <div class="row" *ngFor="let item of mouse">
      <span class="key">{{ item.key }} </span>
      <span class="command">{{ item.command }}</span>
    </div>
  </div>