<div class="table" tabIndex="0">
    <h2>Tab and Window</h2>
    <div class="row" *ngFor="let item of tabAndWindow">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table" tabIndex="0">
    <h2>Google Chrome Features</h2>
    <div class="row" *ngFor="let item of googleChromeFeatures">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table" tabIndex="0">
    <h2>Address Bar</h2>
    <div class="row" *ngFor="let item of addressBar">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table" tabIndex="0">
    <h2>Webpage</h2>
    <div class="row" *ngFor="let item of webpage">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table" tabIndex="0">
    <h2>Mouse</h2>
    <div class="row" *ngFor="let item of mouse">
      <span class="key">{{ item.key }} </span>
      <span class="command">{{ item.command }}</span>
    </div>
  </div>