<div class="pageintro" tabIndex="0" #scroll>
 <h1>
    Shortcuts for
 </h1>
 <svg class="logo">
   <use xlink:href="assets/icons.svg#chromedev" />
 </svg>
</div>
<div class="table">
    <h2 tabIndex="0">Open Dev Tools</h2>
    <div class="row" *ngFor="let item of openDevTools">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Global</h2>
    <div class="row" *ngFor="let item of global">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Elements Panel</h2>
    <div class="row" *ngFor="let item of elementsPanel">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Styles Panel</h2>
    <div class="row" *ngFor="let item of stylesPanel">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Sources Panel</h2>
    <div class="row" *ngFor="let item of sourcesPanel">
      <span class="key">{{ item.key }} </span>
      <span class="command">{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Code Editor</h2>
    <div class="row" *ngFor="let item of codeEditor">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Network Panel</h2>
    <div class="row" *ngFor="let item of networkPanel">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Performance Panel</h2>
    <div class="row" *ngFor="let item of performancePanel">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Memory Panel</h2>
    <div class="row" *ngFor="let item of memoryPanel">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Console Panel</h2>
    <div class="row" *ngFor="let item of consolePanel">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Search Tab</h2>
    <div class="row" *ngFor="let item of searchTab">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
  <div class="table">
    <h2 tabIndex="0">Recorder Panel</h2>
    <div class="row" *ngFor="let item of recorderPanel">
      <span>{{ item.key }}</span>
      <span>{{ item.command }}</span>
    </div>
  </div>
