<header>
  <nav class="scroll-hide">
    <ul>
      <li title="Home" class="">
        <a routerLink="" tabIndex="-1" aria-label="Go to homepage">
          <svg class="logo">
            <use xlink:href="assets/icons.svg#quickeys" />
          </svg>
        </a>
      </li>
      <li title="Commands for Bash" class="shortcut" [class.active-nav]="isRouteActive('/bash')">
        <legend>1</legend>
        <a routerLink="bash" class="link" tabIndex="-1" aria-label="Go to Bash Commands page">
          <svg class="icon">
            <use xlink:href="assets/icons.svg#bash" />
          </svg>
          <span class="noselect">Bash</span>
        </a>
      </li>
      <li title="Shortcuts for Windows 11" class="shortcut" [class.active-nav]="isRouteActive('/windows')">
        <legend>2</legend>
        <a routerLink="windows" class="link" tabIndex="-1" aria-label="Go to Windows 11 Shortcuts page">
          <svg class="icon">
            <use xlink:href="assets/icons.svg#windows" />
          </svg>
          <span class="noselect">Windows</span>
        </a>
      </li>
      <li title="Commands for Git" class="shortcut" [class.active-nav]="isRouteActive('/git')">
        <legend>3</legend>
        <a routerLink="git" class="link" tabIndex="-1" aria-label="Go to git commands page">
          <svg class="icon">
            <use xlink:href="assets/icons.svg#git" />
          </svg>
          <span class="noselect">git</span>
        </a>
      </li>
      <li title="Shortcuts for Visual Studio Code" class="shortcut" [class.active-nav]="isRouteActive('/vscode')">
        <legend>4</legend>
        <a routerLink="vscode" class="link" tabIndex="-1" aria-label="Go to Shortcuts for Visual Studio Code page">
          <svg class="icon">
            <use xlink:href="assets/icons.svg#vscode" />
          </svg>
          <span class="noselect">VS Code</span>
        </a>
      </li>
      <li title="Shortcuts for Google Chrome" class="shortcut" [class.active-nav]="isRouteActive('/chrome')">
        <legend>5</legend>
        <a routerLink="chrome" class="link" tabIndex="-1" aria-label="Go to Shortcuts for Google Chrome page">
          <svg class="icon">
            <use xlink:href="assets/icons.svg#chrome" />
          </svg>
          <span class="noselect">Chrome</span>
        </a>
      </li>
      <li title="Shortcuts for Chrome Dev" class="shortcut" [class.active-nav]="isRouteActive('/chromedev')">
        <legend>6</legend>
        <a routerLink="chromedev" class="link" tabIndex="-1" aria-label="Go to Shortcuts for Chrome Dev page">
          <svg class="icon">
            <use xlink:href="assets/icons.svg#chromedev" />
          </svg>
          <span class="noselect">Chrome</span>
        </a>
      </li>
      <li title="Shortcuts for Premiere Pro" class="shortcut" [class.active-nav]="isRouteActive('/premierepro')">
        <legend>7</legend>
        <a routerLink="premierepro" class="link" tabIndex="-1" aria-label="Go to Shortcuts for Premiere Pro page">
          <svg class="icon">
            <use xlink:href="assets/icons.svg#premierepro" />
          </svg>
          <span class="noselect">Premiere</span>
        </a>
      </li>
      <li title="Shortcuts for After Effects" class="shortcut" [class.active-nav]="isRouteActive('/aftereffects')">
        <legend>8</legend>
        <a routerLink="aftereffects" class="link" tabIndex="-1" aria-label="Go to Shortcuts for After Effects page">
          <svg class="icon">
            <use xlink:href="assets/icons.svg#aftereffects" />
          </svg>
          <span class="noselect">After Effects</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
