<header>
    <nav class="side-bar scroll-hide">
      <ul>
        <li title="Home" class="">
          <a routerLink="" class="logo">
            <svg class="icon">
              <use xlink:href="assets/icons.svg#logo" />
            </svg>
          </a>
        </li>
        <li title="Shortcuts for Visual Studio Code" class="shortcut">
            <a routerLink="vscode" class="link">
              <svg class="icon">
                <use xlink:href="assets/icons.svg#vscode" />
              </svg>
            <span class="noselect">VS Code</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>