<div class="table" tabIndex="0">
  <h2>General</h2>
  <div class="row" *ngFor="let item of general">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Basic Editing</h2>
  <div class="row" *ngFor="let item of basicEditing">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Navigation</h2>
  <div class="row" *ngFor="let item of navigation">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Search And Replace</h2>
  <div class="row" *ngFor="let item of searchAndReplace">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Multi Cursor And Selection</h2>
  <div class="row" *ngFor="let item of multiCursorAndSelection">
    <span class="key">{{ item.key }} </span>
    <span class="command">{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Multi Cursor And Selection</h2>
  <div class="row" *ngFor="let item of multiCursorAndSelection">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Rich Languages Editing</h2>
  <div class="row" *ngFor="let item of richLanguagesEditing">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Editor Management</h2>
  <div class="row" *ngFor="let item of editorManagement">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>File Management</h2>
  <div class="row" *ngFor="let item of editorManagement">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Display</h2>
  <div class="row" *ngFor="let item of display">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Debug</h2>
  <div class="row" *ngFor="let item of debug">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Integrated Terminal</h2>
  <div class="row" *ngFor="let item of integratedTerminal">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
