header {
  background-color: var(--bg-secondary);
}

.homelink {
  display: flex;
  height: fit-content;
}

nav {
  display: none;
}

.nav-active {
  display: block;
}

ul {
  width: 100%;
  background-color: var(--bg-tertiary);
}

li {
  display: flex;
  align-items: center;
  height: calc(40px + (2 * var(--mobile-padding)));
  & a {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: var(--mobile-padding);
    & span {
      display: flex;
      align-items: center;
      padding-left: var(--mobile-padding);
    }
  }
}

li a:hover {
  background-color: var(--bg-tertiary);
}

.logomobile {
  width: 40px;
  margin: var(--mobile-padding);
  aspect-ratio: 1/1;
}

.iconmobile {
  width: 30px;
  aspect-ratio: 1/1;
}

.hamburger {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  height: calc(40px + (2 * var(--mobile-padding)));
  aspect-ratio: 1/1;
}

.hamburger .line {
  width: 50%;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.active-hamburger .line:nth-child(2) {
  opacity: 0;
}

.active-hamburger .line:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(45deg);
  -ms-transform: translateY(12px) rotate(45deg);
  -o-transform: translateY(12px) rotate(45deg);
  transform: translateY(12px) rotate(45deg);
}

.active-hamburger .line:nth-child(3) {
  -webkit-transform: translateY(-12px) rotate(-45deg);
  -ms-transform: translateY(-12px) rotate(-45deg);
  -o-transform: translateY(-12px) rotate(-45deg);
  transform: translateY(-12px) rotate(-45deg);
}

.active-nav {
  font-weight: 400;
  stroke-width: 2px;
  opacity: 1;
  border-left: var(--nav-sel-thickness) solid var(--secondary);
  padding-left: 0px;
  & legend {
    color: var(--secondary);
  }
}
