/* The .home configuration is at the styles.css on the root folder */

h1 {
  text-align: center;
}

.container-logo {
  width: clamp(200px, 20svw, 25svw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & h1 {
    padding-top: 0.5rem;
    font-size: clamp(15px, 2.1svw, 37px);
  }
}

.home-logo {
    width: clamp(100px, 10svw, 250px);
    height: clamp(100px, 10svw, 250px);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
