<div class="table" tabIndex="0">
  <h2>Repository Setup</h2>
  <div class="row" *ngFor="let item of repositorySetup">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Configuration</h2>
  <div class="row" *ngFor="let item of configuration">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Basic Snapshotting</h2>
  <div class="row" *ngFor="let item of basicSnapshotting">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Branching And Merging</h2>
  <div class="row" *ngFor="let item of branchingAndMerging">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Remote Repositories</h2>
  <div class="row" *ngFor="let item of remoteRepositories">
    <span class="key">{{ item.key }} </span>
    <span class="command">{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Inspecting Changes</h2>
  <div class="row" *ngFor="let item of inspectingChanges">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
<div class="table" tabIndex="0">
  <h2>Undoing Changes</h2>
  <div class="row" *ngFor="let item of undoingChanges">
    <span>{{ item.key }}</span>
    <span>{{ item.command }}</span>
  </div>
</div>
